@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Посети Ме</h1>
    <p>
        Апликација за пребарување на локации и внесување на забелешки за посетените локации.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Почеток</h2>
        <p>
            На почеток мора да направите нова корисничка сметка, или да се најавите доколку таа постои.
        </p>
        @Html.Partial("_LoginPartial") Регистрирај се &raquo;
    </div>
    <div class="col-md-4">
        <h2>Сакам да одам</h2>
        <p>
            Прегледајте ги внесените локали во системот, прегледајте ги информациите за тој локал и посетете го. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Рејтинг</h2>
        <p>Рејтувајте го посетениот локал, и секако оставете коментар кој потоа ќе можете да го прочитате во секое време и да одлучите дали повторн ќе се вратите во локалот.</p>
    </div>
</div>