@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ПОСЕТИ.МЕ</h1>
    <p class="lead">ПОСЕТИ.МЕ е бесплатна за користење и може да ја користи оној кој сака да патува или често патува. Служи за да прочитате повеќе информации за локалите, да ги рејтувате, да ставате приватни коментари според кои ќе размислите дали повторно би се вратиле во тој локал.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Почеток</h2>
        <p>
            На почеток мора да направите нова корисничка сметка, или да се најавите доколку таа постои.
        </p>
        @Html.Partial("_LoginPartial") Регистрирај се &raquo;
    </div>
    <div class="col-md-4">
        <h2>Сакам да одам</h2>
        <p>Прегледајте ги внесените локали во системот, прегледајте ги информациите за тој локал и посетете го.</p>
    </div>
    <div class="col-md-4">
        <h2>Рејтинг</h2>
        <p>Рејтувајте го посетениот локал, и секако оставете коментар кој потоа ќе можете да го прочитате во секое време и да одлучите дали повторн ќе се вратите во локалот.</p>
    </div>
</div>