@model PosetiMe.Models.tblLocal

@{
    ViewBag.Title = "InformationError";
}

<h2>Не се внесени сите потребни информации или внесените информации не се валидни</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

